@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #272727;
}

.blur-backdrop-filter {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}



.animateBox {
  animation-duration: 2s;
  animation-name: animate-box;
}

.imageSliteLeft{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);

}

.textsSlite{
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);

}
.imageSliteRight{
  clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);

}
@media (max-width:768px){
  .imageSliteLeft{
    clip-path: none;
  }
  .textsSlite{
    clip-path: none;
  }
  .imageSliteRight{
    clip-path: none;
  }
}
/* @keyframes animate-box {
  from {scale: .9; opacity: 0;}
  to{scale: 1; opacity: 1;}
}

.boxFade_left{
  animation:fade-in linear;
  animation-timeline: view();
  animation-range-start: contain;
  animation-range-end: contain;
}

@keyframes fade-in {
  from { scale: .8; opacity: 0;}
  to{scale: 1; opacity: 1;}
} */
